.message-received {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  font-weight: 500;
  width: fit-content;
  max-width: 260px;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px 10px 10px 0px;
  margin-bottom: 25px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.message-sent {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  width: fit-content;
  max-width: 260px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px 10px 0px 10px;
  background-color: #445dfa;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-bottom: 25px;
  font-size: 18px;
}

/* .message-time {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-top: 3px;
  font-weight: 300;
} */

.message-box {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  background-color: #fff;
  transition: background-color 200ms ease-in;
}

.message-box:hover {
  background-color: #F8F8F8;
}

.message-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  gap: 4px;
}

.message-user {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.message-time {
  font-size: 14px;
  color: #74767E;
}

.message-text {
  white-space: pre-line;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  margin: 0;
}