.message-received {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  font-weight: 500;
  width: fit-content;
  max-width: 260px;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px 10px 10px 0px;
  margin-bottom: 25px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.message-sent {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  width: fit-content;
  max-width: 260px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px 10px 0px 10px;
  background-color: #445dfa;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-bottom: 25px;
  font-size: 18px;
}

/* .message-time {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-top: 3px;
  font-weight: 300;
} */

.message-box {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
}

.message-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-header {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}

.message-user {
  font-size: 17px;
  font-weight: 600;
}

.message-time {
  font-size: 15px;
  color: gray;
}

.message-text {
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.5;
}