.sidebarchat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 10px 15px;
    padding-right: 20px;
    background-color: none;
    border-bottom: 1px solid #EAEAEA;
}

.sidebarchat-select{
    background: #EAF6FE;
}

.sidebarchat:hover{
    background-color: #eaf6fe57;
    cursor: pointer;
}

.sidebar-chatoption {
    margin-top: 10px;
}

.online{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 14px;
    left: 55px;
    background-color: #1DBF73;
    border: 3px solid white;
}

.profile-online {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1DBF73;
}

.profile-online span {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #1DBF73;
}

.offline{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 14px;
    left: 55px;
    background-color: #B5B6BA;
    border: 3px solid white;
}

.profile-offline {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #B5B6BA;
}

.profile-offline span {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #B5B6BA;
}

.sidebarchat-info-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    width: 140px;
    color: #333;
}

.sidebarchat-plan {
    color: #74767E;
    font-size: 14px;
}

.amigo-profilepic{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.chatroom-profilepic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #1DBF73;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    line-height: 1;
}

.sidebarchat-plans {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 140px;
    display: flex;
    flex-direction: column;
}

.btn-favorite {
    background: transparent;
    border: none;
    padding: 0;
}

.latest_time {
    color: #74767E;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5;
}