.chatroom{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
}

.chatroom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #EAEAEA;
    border-top-right-radius: 10px;
    z-index: 80;
}

.chatroom-chatinfo-right {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.chatroom-chatinfo{
    display: flex;
    align-items: center;
}

.chatroom-chatinfo-name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.chatroom-chatinfo-name p {
    margin: 0;
}

.chatroom-options{
    display: flex;
    align-items: center;
}

.chatroom-messages-container{
    flex: 1;
    padding: 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Scrollbar */

.chatroom-messages-container::-webkit-scrollbar-track{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.chatroom-messages-container::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}

.chatroom-messages-container::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: rgb(0 0 0 / 20%);
}

.emoji-picker-open{
    position: absolute;
    bottom: 8.5%;
    z-index: 1000;
}

.emoji-picker-close{
    display: none;
}

.chatroom-footer{
    display: flex;
    align-items: center;
    border-top: 0.1px solid rgb(212, 212, 212);
    padding: 10px 15px;
    height: fit-content;
}

.chatroom-plans {
    display: flex;
    flex-direction: row;
}

.chatroom-plan {
    color: #333;
    font-size: 14px;
}

.chatroom-top-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #74767E;
    font-size: 14px;
}

.chatroom-footer form{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-left: 10px;
}

.chatroom-footer form button{
    display: none;
}

.chatroom-safety {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.chatroom-safety-header {
    display: flex;
    align-items: center;
    color: #74767E;
    font-weight: 500;
    font-size: 16px;
    gap: 5px;
}

.chatroom-safety-text {
    font-size: 15px;
    color: #74767E;
}

.message-input{
    flex: 1;
    font-family: 'Inter', sans-serif;
    padding: 12px 20px;
    height: 15px;
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    background-color: rgb(0 0 0 / 4%);
    resize: none;
    color: #333;
}

.message-input::-webkit-scrollbar-track{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.message-input::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}

.message-input::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: rgb(0 0 0 / 20%);
}

.input-button{
    display: none;
}

.chatroom-footer-righticon{
    margin-left: 10px;
}

.chatroom-footer-lefticons{
    display: flex;
    gap: 10px;
}

.send-icon{
    color: #316af3;
}

@media screen and (max-width:768px) {
    .chatroom-footer-lefticons{
        display: flex;
    }
    .chatroom{
        flex: 1;
    }
    .message-input{
        margin-left: -45px;
    }
    .chatroom-footer-righticon{
        margin-left: -40px!important;
    }
    .chatroom-chatinfo{
        margin-left: 30px;
    }
}
