.home {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #0e1012;
  position: relative;
  padding: 0 50px;
}

.home-components {
  display: flex;
  height: 95vh;
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.menu-open{
  position: absolute;
  z-index: 1000;
  top: 26px;
  left: -1px;
  border-radius: 50%;
}

.menu-close{
  z-index: 1000;
  border-radius: 50%;
}

.add-chatroom-icon {
  position: absolute;
  top: 6%;
  left: 85%;
  z-index: 2000;
}

@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
  .menu-open {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home {
    overflow: hidden;
    padding: 0;
  }
  .home-components {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
  .add-chatroom-icon {
    position: absolute;
    top: 1%;
    left: 85%;
  }
}

.btn-send {
  background: #12A4FF !important;
  border-radius: 30px !important;
  padding: 12px 20px !important;
  color: white !important;
  font-size: 16px;
}

.btn-send-file {
  background: #fff !important;
  border-radius: 30px !important;
  padding: 12px 20px !important;
  color: white !important;
  font-size: 16px;
  color: #000 !important;
}

.sidebar-members {
  width: 100%;
  height: 100%;
}

.ScrollbarsCustom-Wrapper {
  inset: 0 !important;
}

.ScrollbarsCustom-Track {
  width: 8px !important;
}

.ScrollbarsCustom-Thumb {
  background: rgb(0 0 0 / 20%) !important;
}

.file-upload {
  display: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 100ms ease-in-out;
  background-color: rgb(255 255 255 / 0%) !important;
  z-index: 99;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

.ReactModal__Content {
  background: #12a4ff !important;
  border: none !important;
  border-radius: 10px !important;
  max-width: 400px;
  width: 100%;
  height: fit-content;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-title {
  color: white;
}

.modal-file-img {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  padding: 10px;
}

.modal-file-name {
  font-size: 20px;
  color: white;
  width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.modal-file-size {
  font-size: 16px;
  color: white;
}

.modal-max-file {
  color: white;
}