@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.gray-primary {
  color: #74767e;
}

.black-primary {
  color: #333;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.pl-5 {
  padding-left: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.MuiIconButton-root {
  background: rgb(0 0 0 / 4%);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.safety-line {
  flex: 1;
  height: 1px;
  background: #eaeaea;
}

.MuiButton-label {
  font-size: 15px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1;
}

.text-underline {
  text-decoration-line: underline;
}

.m-0 {
  margin: 0 !important;
}